@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  line-height: 1.5;
  text-decoration: none;
}

:root {
  --mainClr: #4d594d;
  --secondaryClr: #8aa08a;
  --thirdClr: #CC9660;
  --gray: #ebebeb;
  --darkgray: #191919;
}

html {
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 3.2rem;
}
h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 1rem 0 0 0;
}
h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
}
.centerTxt {
  text-align: center;
}
p {
  font-weight: 300;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.grayBG {
  background-color: var(--gray);
}
.whiteBG {
  background-color: white;
}
.fillWhite {
  fill: white;
}
.flex{
  display: flex;
}

.highlightedTxt {
  color: #60724e;
  font-weight: 700;
}
.textLink {
  color: #60724e;
  font-weight: 700;
}
.relative {
  position: relative;
}
.weight400 {
    font-weight: 400;
}

/* Header */
header {
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto;
  z-index: 50;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: var(--mainClr);
  padding: 0 8rem;
  box-shadow: 0 1px 3px var(--darkgray);
}

.lp_header {
  background: transparent;
  justify-content: end;
  transition: 250ms ease-in;
  -webkit-transition: 250ms ease-in;
  -moz-transition: 250ms ease-in;
  -ms-transition: 250ms ease-in;
  -o-transition: 250ms ease-in;
  padding: 0;
  box-shadow: none;
}

.mobileMenuToggle {
  display: none;
}

.fullHeader {
  justify-content: space-between;
  align-items: center;
  background: var(--mainClr);
  padding: 0 8rem;
  box-shadow: 0 1px 3px var(--darkgray);
}

.navLogo,
.ctaBookBord {
  display: none;
}
.showNavLogo,
.showCtaBookBord {
  display: block;
  fill: white;
}
.logo {
  display: block;
  fill: white;
}
.showNavLogo,
.logo {
  width: 120px;
  margin: 0.5rem 0;
  cursor: pointer;
}
nav {
  margin:0 8rem;
}
nav > ul {
  display: flex;
  gap: 3rem;
}
nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  color: white;
  font-size: 1.5rem;
}

/* kode refereret af: https://www.youtube.com/watch?v=JkuiKeNS2mg&t */
nav > ul > li > a:is(:link, :active, :visited,).active {
    border-bottom: 2px solid white;
    font-weight: 700;
}

/* Main */
.landingpage {
  position: relative;
  width: 100vw;
  height: auto;
}
.background_lp {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: -10;
 
}

.background_lp > img {
  height: 100vh;
}

.lp_img {
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
}

.lp_txt,
.heroTxt {
  padding-right: 2rem;
  background-color: white;
  margin-left: 8rem;
  max-width: 32%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lp_txt {
margin-left: 12rem;
}

.lp_logo {
  width: 80%;
}

.lp_title {
  font-size: 2rem;
  margin-top: 2rem;
}

.btn1,
.btn2 {
  font-size: 1.2rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin: 2rem 0;
  transition: 0.1s ease-in;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -ms-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
}

.btn1:hover,
.btn2:hover {
  background-color: var(--secondaryClr);
  transform: scale(97%);
  -webkit-transform: scale(97%);
  -moz-transform: scale(97%);
  -ms-transform: scale(97%);
  -o-transform: scale(97%);
}
.btn2:hover {
  color: white;
  border: 3px solid var(--secondaryClr);
}

.lp_buttons {
  display: flex;
  gap: 3rem;
}

.btn1 {
  padding: 0.3rem 2rem;
  color: white;
  background-color: var(--mainClr);
  border: none;
}
.btn2 {
  padding: 0.2rem 1.9rem;
  color: var(--mainClr);
  background-color: transparent;
  border: 3px solid var(--mainClr);
  
}
.showCtaBookBord {
  margin: 0;
  background-color: var(--secondaryClr);
}

.wave1 {
  animation: wave ease-in-out 12s infinite;
  -webkit-animation: wave ease-in-out 12s infinite;
}
.wave2 {
  animation: wave linear 15s infinite;
  -webkit-animation: wave ease-in-out 15s infinite;
}
.wave3 {
  animation: wave linear 20s infinite;
  -webkit-animation: wave ease-in-out 20s infinite;
}
@keyframes wave {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.divider1 {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  fill: #ebebeb;
  width: 200%;
  height: 100px;
  transform: rotate(180deg);
}

.divider2 {
  fill: white;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.scrollBtn {
  position: absolute;
  left: 50vw;
  right: 50vw;
  bottom: 3rem;
  z-index: 40;
  cursor: pointer;
}
.scrollBtn:hover {
  animation: arrowBounce 2s infinite ease-in-out;
  -webkit-animation: arrowBounce 2s infinite ease-in-out;
}
.scrollBtn > a > h2 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: var(--mainClr);
  font-size: 2rem;
  color: white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

@keyframes arrowBounce {
  0%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  20%{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
  40% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
  60% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
  80% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

.fillGray {
  fill: var(--gray);
}
.ikonbanner {
  display: flex;
  justify-content: space-around;
  padding: 3rem 8rem 8rem;
}

.ikonboks {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ikonboks > img {
  width: 25%;
}

.openHours {
  font-weight: 600;
  margin: 0.5rem;
}

.frokostBtn {
  background-color: var(--secondaryClr);
}

.lp_raavarer {
position: relative;
  display: grid;
  grid-template-columns: 41.6% 58.4%;
  padding: 2rem 8rem 5rem;
  align-items: center;
  gap: 8.3%;

}

.damnarkMap {
  width: 60%;
}

/* Kode til CSS border in corners refereret fra: https://codepen.io/ThiemelJiri/pen/NaErLG */
.infobox {
  padding: 1rem;
  border: 2px solid var(--mainClr);
  position: absolute;
  top: 2rem;
  right: 8rem;
  width: 35%;
}
.infobox::before,
.infobox::after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
}

.infobox::before {
  top: -0.3em;
  bottom: -0.3em;
  left: 1.5em;
  right: 1.5em;
}

.infobox::after {
  left: -0.3em;
  right: -0.3em;
  top: 1em;
  bottom: 1em;
}

.infoTxt {
  position: relative;
  z-index: 1;
}

.menukort {
  padding: 0 0 12rem;
  position: relative;
}

.menukortTxt {
  width: 800px;
  margin: 0 auto;
  padding: 3rem 0;
} 
.menukortTxt > h2 {
  text-align: center;
}
.menukortTxt > p {
  font-size: 1.2rem;
}

/* Carousel inspireret fra https://codepen.io/claudiulazar/pen/OdvVOo */
.SoMeContainer {
  position: relative;
  padding-bottom: 8rem;
  padding-top: 1rem;
}

.SoMeTitle {
  margin-bottom: 5rem;
  width: 100%;
  text-align: center;
}

.carouselContainer {
  position: relative;
  width: 313px;
  margin: 0 auto;
  perspective: 1500px;
}

.carouselImg {
  position: absolute;
  width: 313px;
  height: 313px;
  top: -20px;
  background-size: cover;
  display: flex;
}

.imgCarousel {
  position: absolute;
  width: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
  -webkit-animation: rotate360 60s infinite forwards linear;
}
.carouselImg:nth-child(1) {
  transform: rotateY(0deg) translateZ(430px);
}
.carouselImg:nth-child(2) {
  transform: rotateY(40deg) translateZ(430px);
}
.carouselImg:nth-child(3) {
  transform: rotateY(80deg) translateZ(430px);
}
.carouselImg:nth-child(4) {
  transform: rotateY(120deg) translateZ(430px);
}
.carouselImg:nth-child(5) {
  transform: rotateY(160deg) translateZ(430px);
  -webkit-transform: rotateY(160deg) translateZ(430px);
  -moz-transform: rotateY(160deg) translateZ(430px);
  -ms-transform: rotateY(160deg) translateZ(430px);
  -o-transform: rotateY(160deg) translateZ(430px);
}
.carouselImg:nth-child(6) {
  transform: rotateY(200deg) translateZ(430px);
}
.carouselImg:nth-child(7) {
  transform: rotateY(240deg) translateZ(430px);
}
.carouselImg:nth-child(8) {
  transform: rotateY(280deg) translateZ(430px);
}
.carouselImg:nth-child(9) {
  transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.SoMeIcons {
  margin-top: 540px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 4rem;
}
.SoMeIcon {
  width: 40px;
  fill: var(--mainClr);
  transition: 100ms ease-in;
  -webkit-transition: 100ms ease-in;
  -moz-transition: 100ms ease-in;
  -ms-transition: 100ms ease-in;
  -o-transition: 100ms ease-in;
}
.SoMeIcon:hover {
  fill: var(--secondaryClr);
  transform: scale(95%);
  -webkit-transform: scale(95%);
  -moz-transform: scale(95%);
  -ms-transform: scale(95%);
  -o-transform: scale(95%);
}
.Icon_awesome-instagram {
  fill: white;
}

.findVej {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 8.3rem;
    padding: 3rem 8rem 8rem;
    align-items: center;
    justify-content: space-between;
}

.aalborgKort {
    width: 80%;
    float: right;
}

/* ____________ koncept.html _____________ */
.heroImg {
    position: absolute;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: end;
    padding-top: 4.6rem;
    z-index: -50;
}
.heroImg > img,
.heroImg > video {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
    height: 100%;
    width: 50vw;
    object-fit: cover;
}
.heroTxt {
  padding-top: 2rem;
}
button > .fa-arrow-down {
  padding-left: 8px;
  font-size: 1rem;
}


/*_____________ kontakt.html ______________*/
.btn1 > a {
  padding-left: 8px;
  color: white;
}

.kontaktformular {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3rem;
  padding: 5rem 12rem 8rem;
  place-items: center;
}

.formImg {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
}
.formImg > img {
  width: 100%;
  height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}
form > input,
form > select,
form > textarea {
  background-color: transparent;
  width: 100%;
  font-size: 24px;
  font-family: "Titillium Web", sans-serif;
  border: 2px solid var(--mainClr);
  margin-top: 2rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
label {
  font-size: 1.5rem;
}

/* ___________ bookbord.html ____________ */
.videoGuide > video {
  width: 100%;
}


/* Footer */
footer {
  position: relative;
  z-index: 50;
}
.footerContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 0 8rem;
}

.footerTxt {
  width: 70%;
}
.footerTxt > h3 {
  border-bottom: 2px solid var(--secondaryClr);
}

.footerTxt > ul {
  padding: 0;
}
.footerTxt > ul > li {
  list-style: none;
}
.footerTxt > ul > li > a {
  text-decoration: none;
  color: var(--darkgray);
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 2rem;
}
.footerTxt > ul > li > a:hover {
  color: var(--secondaryClr);
}
.footerTxt > a > img {
  height: 5vh;
}

.bookJu {
  gap: 1.5rem;
  color: var(--darkgray);
  margin-top: 1rem;
  align-content: center;
}
.bookJu:hover {
  color: var(--secondaryClr);
}
.footerSoMe {
  width: 50px;
  margin: 1rem 2rem 1rem 0;
}

.copyR{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
}
.footerLine{ 
  height: 1.5px;
  width: 50vw;
  background-color:var(--secondaryClr);
  margin-top: 1.2rem;
}

.footerTxt > p {
  font-size: 1.1rem;
}

.textDec {
  color: var(--darkgray);
}

/* Laptops */
@media (max-width: 1600px) {
  /* index.html */
  .infobox {
    top: 1rem;
    right: 1rem;
    width: 45%;
  }

  /* kontakt.html */
  .formContainer {
    width: 75%;
  }
}


.mobile {
  display: none;
}
/* Landscape iPads & små laptops */
@media (max-width: 1180px) {
  /* header */
  header {
    padding: 0 4rem;
  }
  .fullHeader {
    padding: 0 4rem;
  }
  nav {
    margin: 0 2rem;
  }
  nav > ul {
    gap: 1rem;
  }

  /* index.html */
  .lp_img {
    width: 45%;
    object-fit: cover;
    object-position: left;
  }
  .lp_txt {
    margin-left: 8rem;
    max-width: 43%;
  }
  .lp_buttons {
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 2rem;
  }
  .btn1,
  .btn2 {
    margin: 1rem 0;
  }
  .ikonbanner {
    justify-content: space-between;
    padding: 3rem 4rem 8rem;
    gap: 2rem;
  }
  .ikonboks {
   width: 450px;
  }
  .lp_raavarer {
    gap: 2rem;
    padding: 2rem 4rem 7rem;
  }
  .damnarkMap {
    width: 70%;
  }
  .infobox {
    top: 0;
    right: 0.5rem;
    width: 50%;
    margin-top: 0;
  }
  .findVej {
    gap: 8rem;
  }
  .aalborgKort {
    width: 100%;
  }

  .menukortTxt {
    width: 700px;
  }

  .heroTxt {
    padding-top: 10rem;
    margin-left: 4rem;
    max-width: 40%;
  }

  .divider1 {
    height: 70px;
  }
  /* koncept.html */
  .ipadHidden {
    display: none;
  }
  .LongLandingpage {
    height: 120vh;
  }

  /* kontakt.html */
  .kontaktformular {
    padding: 3rem 4rem 8rem;
  }

  /* Footer */
  .footerContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* iPad */
@media (max-width: 844px) {
  h2 {
   font-size: 3rem;
  }
  p {
    font-size: 1.3rem;
  }

  
  /* header */
  .lp_header {
    justify-content: space-between;
    align-items: center;
    background: var(--mainClr);
    padding: 0 2rem;
    box-shadow: 0 1px 3px var(--darkgray);
  }
  
  .fullHeader {
    padding: 0 2rem;
  }

  .showNavLogo,
  .showCtaBookBord {
    display: none;
  }
  .showCtaBookBord {
    margin: 4rem auto 0;
    font-size: 2rem !important;
  }
  .logo {
    width: 250px;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100vw;
    background-color: var(--mainClr);
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
  }
  nav > ul {
    flex-direction: column;
    gap: 5rem;
    margin: 4rem 0;
    align-items: end;
    margin-right: 2rem;
    width: 50%;
    float: right;
  }
  nav > ul > li > a {
    font-size: 2.4rem;
  }
  .mobileMenuToggle {
    display: flex;
    position: absolute;
    bottom: -138px;
    right: 2rem;
    background: var(--mainClr);
    padding: 2rem 1rem;
    border: 0;
    border-radius: 0 0 25px 25px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
    -ms-border-radius: 0 0 25px 25px;
    -o-border-radius: 0 0 25px 25px;
  }
  .hamburger {
    display: block;
    position: relative;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 3rem;
    height: 5px;
    border-radius: 5px;
    background: white;
    transition: transform .3s ease-in-out, opacity .15s linear;
    -webkit-transition: transform .3s ease-in-out, opacity .15s linear;
    -moz-transition: transform .3s ease-in-out, opacity .15s linear;
    -ms-transition: transform .3s ease-in-out, opacity .15s linear;
    -o-transition: transform .3s ease-in-out, opacity .15s linear;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .hamburger::before {
    bottom: 10px;
  }
  .hamburger::after {
    top: 10px;
  }

  .navMenuOpen nav {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  .navMenuOpen .hamburger {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .navMenuOpen .hamburger::before {
    opacity: 0;
  }
  
  .navMenuOpen .hamburger::after {
    transform: rotate(90deg) translate(-10px);
    -webkit-transform: rotate(90deg) translate(-10px);
    -moz-transform: rotate(90deg) translate(-10px);
    -ms-transform: rotate(90deg) translate(-10px);
    -o-transform: rotate(90deg) translate(-10px);
  }
  .mobile {
    display: block;
  }
  .mbHidden {
    display: none;
  }

  /* index.html */
  .lp_img {
    width: 100%;
    object-position: center;
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
  }
  .lp_txt {
    background-color: transparent;
    color: white;
    max-width: 100%;
    margin: 0 6rem;
  }
  .lp_logo {
    fill: white;
  }
  .lp_title {
    font-size: 3rem;
  }
  .lp_fancyTxt {
    color: var(--thirdClr);
  }
  .lp_buttons{
    padding-top: 2rem;
  }
  .lp_btn1{
    background-color: var(--secondaryClr);
  }
  .lp_btn2{
    border-color: var(--secondaryClr);
    color: var(--secondaryClr);
  }

  .btn1,
  .btn2 {
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
  }

  .ikonbanner {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .ikonboks {
    width: 80%;
  }

  .lp_raavarer {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .menukortTxt > p {
    font-size: 1.3rem;
  }

  .SoMeContainer {
    padding-bottom: 8rem;
  }
  .carouselContainer {
    width: 219px;
  }
  .carouselImg {
    width: 219px;
    height: 219px;
  }
  .carouselImg:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
    -webkit-transform: rotateY(0deg) translateZ(300px);
    -moz-transform: rotateY(0deg) translateZ(300px);
    -ms-transform: rotateY(0deg) translateZ(300px);
    -o-transform: rotateY(0deg) translateZ(300px);
  }
  .carouselImg:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
    -webkit-transform: rotateY(40deg) translateZ(300px);
    -moz-transform: rotateY(40deg) translateZ(300px);
    -ms-transform: rotateY(40deg) translateZ(300px);
    -o-transform: rotateY(40deg) translateZ(300px);
  }
  .carouselImg:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
    -webkit-transform: rotateY(80deg) translateZ(300px);
    -moz-transform: rotateY(80deg) translateZ(300px);
    -ms-transform: rotateY(80deg) translateZ(300px);
    -o-transform: rotateY(80deg) translateZ(300px);
  }
  .carouselImg:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
    -webkit-transform: rotateY(120deg) translateZ(300px);
    -moz-transform: rotateY(120deg) translateZ(300px);
    -ms-transform: rotateY(120deg) translateZ(300px);
    -o-transform: rotateY(120deg) translateZ(300px);
  }
  .carouselImg:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
    -webkit-transform: rotateY(160deg) translateZ(300px);
    -moz-transform: rotateY(160deg) translateZ(300px);
    -ms-transform: rotateY(160deg) translateZ(300px);
    -o-transform: rotateY(160deg) translateZ(300px);
  }
  .carouselImg:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
    -webkit-transform: rotateY(200deg) translateZ(300px);
    -moz-transform: rotateY(200deg) translateZ(300px);
    -ms-transform: rotateY(200deg) translateZ(300px);
    -o-transform: rotateY(200deg) translateZ(300px);
  }
  .carouselImg:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
    -webkit-transform: rotateY(240deg) translateZ(300px);
    -moz-transform: rotateY(240deg) translateZ(300px);
    -ms-transform: rotateY(240deg) translateZ(300px);
    -o-transform: rotateY(240deg) translateZ(300px);
  }
  .carouselImg:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
    -webkit-transform: rotateY(280deg) translateZ(300px);
    -moz-transform: rotateY(280deg) translateZ(300px);
    -ms-transform: rotateY(280deg) translateZ(300px);
    -o-transform: rotateY(280deg) translateZ(300px);
  }
  .carouselImg:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
    -webkit-transform: rotateY(320deg) translateZ(300px);
    -moz-transform: rotateY(320deg) translateZ(300px);
    -ms-transform: rotateY(320deg) translateZ(300px);
    -o-transform: rotateY(320deg) translateZ(300px);
  }
  .SoMeIcons {
    margin-top: 380px;
    gap: 8rem;
  }
  .SoMeIcon {
    width: 60px;
  }

  .findVej {
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 3rem 4rem;
  }

  /* menu.html */
  .heroImg {
   padding-top: 0;
  }
  .heroImg > img,
  .heroImg > video{
    width: 100vw;
    height: 40vh;
  }
  .heroTxt {
    background-color: transparent;
    max-width: 100%;
    margin: 0 6rem;
    justify-content: flex-start;
    padding-top: 45vh;
  }


  /* kontakt.html */
  .kontaktformular {
    grid-template-columns: 1fr;
  }
  /* Footer */
  .footerContainer {
    padding: 2rem 2rem 0;
  }
}
/* Telefon */
@media (max-width: 480px) {
  p {
    font-size: 1.2rem;
  }
  
  /* header */
  .logo {
    width: 150px;
  }
  nav > ul {
    gap: 2rem;
    margin-right: 1rem;
  }
  nav > ul > li > a {
    font-size: 1.7rem;
  }
  .showCtaBookBord {
    font-size: 1.5rem !important;
  }
  .mobileMenuToggle {
    right: 1rem;
  }

/* index.html */
  .lp_txt {
    margin: 0 1rem;
    padding-right: 0;
  }
  .lp_logo{
    width: 60%;
  }
  .lp_title {
    display: none;
  }

  .ikonbanner {
    padding: 3rem 1rem 8rem;
  }
  .ikonboks {
    width: 100%;
  }
  .btn1,
  .btn2 {
    padding: 0.3rem 1.3rem;
  }

  .lp_raavarer {
    padding: 2rem 1rem 7rem;
  }
  .infobox {
    display: none;
  }
  .damnarkMap {
    width: 100%;
  }

  .menukortTxt {
    width: 100%;
    padding: 3rem 1rem;
  }

  .SoMeTitle {
    margin: 0 0 3rem 0;
  }
  .SoMeContainer {
    padding-bottom: 8rem;
  }
  .carouselContainer {
    width: 284px;
    perspective: 10000px;
  }
  .carouselImg {
    width: 284px;
    height: 284px;
  }
  .carouselImg:nth-child(1) {
    transform: rotateY(0deg) translateZ(390px);
    -webkit-transform: rotateY(0deg) translateZ(390px);
    -moz-transform: rotateY(0deg) translateZ(390px);
    -ms-transform: rotateY(0deg) translateZ(390px);
    -o-transform: rotateY(0deg) translateZ(390px);
  }
  .carouselImg:nth-child(2) {
    transform: rotateY(40deg) translateZ(390px);
    -webkit-transform: rotateY(40deg) translateZ(390px);
    -moz-transform: rotateY(40deg) translateZ(390px);
    -ms-transform: rotateY(40deg) translateZ(390px);
    -o-transform: rotateY(40deg) translateZ(390px);
  }
  .carouselImg:nth-child(3) {
    transform: rotateY(80deg) translateZ(390px);
    -webkit-transform: rotateY(80deg) translateZ(390px);
    -moz-transform: rotateY(80deg) translateZ(390px);
    -ms-transform: rotateY(80deg) translateZ(390px);
    -o-transform: rotateY(80deg) translateZ(390px);
  }
  .carouselImg:nth-child(4) {
    transform: rotateY(120deg) translateZ(390px);
    -webkit-transform: rotateY(120deg) translateZ(390px);
    -moz-transform: rotateY(120deg) translateZ(390px);
    -ms-transform: rotateY(120deg) translateZ(390px);
    -o-transform: rotateY(120deg) translateZ(390px);
  }
  .carouselImg:nth-child(5) {
    transform: rotateY(160deg) translateZ(390px);
    -webkit-transform: rotateY(160deg) translateZ(390px);
    -moz-transform: rotateY(160deg) translateZ(390px);
    -ms-transform: rotateY(160deg) translateZ(390px);
    -o-transform: rotateY(160deg) translateZ(390px);
  }
  .carouselImg:nth-child(6) {
    transform: rotateY(200deg) translateZ(390px);
    -webkit-transform: rotateY(200deg) translateZ(390px);
    -moz-transform: rotateY(200deg) translateZ(390px);
    -ms-transform: rotateY(200deg) translateZ(390px);
    -o-transform: rotateY(200deg) translateZ(390px);
  }
  .carouselImg:nth-child(7) {
    transform: rotateY(240deg) translateZ(390px);
    -webkit-transform: rotateY(240deg) translateZ(390px);
    -moz-transform: rotateY(240deg) translateZ(390px);
    -ms-transform: rotateY(240deg) translateZ(390px);
    -o-transform: rotateY(240deg) translateZ(390px);
  }
  .carouselImg:nth-child(8) {
    transform: rotateY(280deg) translateZ(390px);
    -webkit-transform: rotateY(280deg) translateZ(390px);
    -moz-transform: rotateY(280deg) translateZ(390px);
    -ms-transform: rotateY(280deg) translateZ(390px);
    -o-transform: rotateY(280deg) translateZ(390px);
  }
  .carouselImg:nth-child(9) {
    transform: rotateY(320deg) translateZ(390px);
    -webkit-transform: rotateY(320deg) translateZ(390px);
    -moz-transform: rotateY(320deg) translateZ(390px);
    -ms-transform: rotateY(320deg) translateZ(390px);
    -o-transform: rotateY(320deg) translateZ(390px);
  }

  .findVej {
    padding: 3rem 1rem;
  }

  /* menu.html */
  .heroImg {
    height: 31vh;
    overflow: hidden;
  }
  .heroTxt {
    margin: 0 1rem;
    padding-top: 32vh;
    padding-right: 0;
  }

  /* koncept.html */
  .LongLandingpage {
    height: 140vh;
  }
  .heroImg > img,
  .heroImg > video{
    height: auto;
  }

  /* kontakt.html */
  .kontaktformular {
    padding: 3rem 1rem 8rem;
  }
  .formContainer {
    width: 100%;
  }

  /* footer */
  .footerContainer {
    padding: 2rem 0.5rem 0;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footerTxt > h3 {
    padding-top: 1rem;
  }
  .bookJu {
    place-content: center;
  }
}

